* { /* RESETANDO CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/*CABEÇALHO*/

#cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: rgb(50, 50, 51);
    justify-content: space-around;
    margin-bottom: 50px;

}
#cabecalho a {
    text-decoration: none;
}
.navegacao {
    display: flex;
    flex-direction: row;
    align-items: center;

}
#navegacao-menu-funcoes {
    margin-left: 30px;
}
.navegacao-menu-item{
    color: rgb(71, 224, 30); 
    margin-inline-end: 20px;
}
#cabecalho-logo{
    max-width: 120px;
    max-height: 120px;

}
#navegacao-menu-funcoes {

    display: flex;
    flex-direction: row; 
    
}
.funcao-menu {

    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(162, 162, 163);
    margin-right: 50px;

}
.funcao-pesquisar{

    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(162, 162, 163); 
   
}
.funcao-menu-img{
    max-height: 40px;
}
.funcao-pesquisar-img{
    max-height: 40px;
}

/*CONTEÚDO*/

body{
    background-color: rgb(26, 98, 36);
}

#conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#conteudo-postagem {
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

#conteudo-postagem a:link {
    text-decoration: none;
}


#conteudo-postagem-area {
    color: rgb(71, 224, 30); 
    text-decoration: underline !important;
    margin-bottom: 15px;
  
}

#conteudo-postagem-titulo {
    color: white;
    margin-bottom: 15px;
}

#conteudo-postagem-informacoes {
    
    display: flex;
    flex-direction: row;
    justify-content: start;
    color: rgb(171, 206, 175);
    margin-bottom: 30px;
  
    
}

.conteudo-postagem-informacoes-elemento1 {
    margin-right: 40px;
    margin-left: 50px;
}
.conteudo-postagem-informacoes-elemento2 {
    margin-right: 40px;
}

.conteudo-postagem-parte2{
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;

}

#conteudo-postagem-imagem {
    align-self: center;
}

#conteudo-postagem-previa {

    margin-top: 60px;
    color: white;
 
}

#tags {

    display: flex;
    flex-direction: row;
    justify-content: start;



    margin-top: 20px;
    color: rgb(171, 206, 175);
 
}

.tags-tag {
    margin-right: 10px;
   
}




/*RODAPÉ*/

#rodape {

    background-color: rgb(50, 50, 51); 
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    
}

#rodape-conteudo {
    margin-left: 20%;
}

.rodape-conteudo-imagem-yt {
    max-height: 80px;
}

#rodape-contato {
    margin-top: 40px;
    color: white;
}

#rodape-contato-twitter {
    margin-top: 30px;
}

#rodape-contato-final {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 70px;
    margin-top: 50px;
}



/*MARCAÇÕES*/
.red-mark {
    border: 1px solid red;

}

.green-mark {

    border: 1px solid green;
}

.blue-mark {

    border: 1px solid blue;


}

/*
LINK REF
a:link — when the user has not visited, hovered, or clicked on a link

a:visited — after the user has visited the link

a:hover — when the user hovers their mouse over the link

a:active — as the user is clicking on the link
*/


