* { /* RESETANDO CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/*CABEÇALHO*/

#cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: rgb(50, 50, 51);
    justify-content: space-around;

}

#navegacao-menu{

    display: flex;
    
    
}

.navegacao-menu-item{
    color: rgb(71, 224, 30); 
    margin-inline-end: 20px;
}

#cabecalho-logo{
    max-width: 120px;
    max-height: 120px;
}



#navegacao-menu-funcoes {

    display: flex;
    flex-direction: row; 
    
}


.funcao-menu {

    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(162, 162, 163);
    margin-right: 50px;

}

.funcao-pesquisar{

    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(162, 162, 163); 
   
}



.funcao-menu-img{
    max-height: 40px;
}

.funcao-pesquisar-img{
    max-height: 40px;
}
/*CONTEÚDO*/

body{
    background-color: rgb(26, 98, 36);
}

/*RODAPÉ*/





.red-mark {
    border: 1px solid red;

}

.green-mark {

    border: 1px solid green;
}

.blue-mark {

    border: 1px solid blue;


}



